In [7]:
from main import C, main

In [8]:
c = C()
c.print_list(12)

[1, 2, 3, 12, 1, 2, 3, 12]
[2, 4, 6, 24]
[2, 4, 6, 24]

In [9]:
main()

A  B
0  1  a
1  2  b
2  3  c
[4 5 6]
[1, 2, 3, 5, 1, 2, 3, 5]
[2, 4, 6, 10]
[2, 4, 6, 10]
c.df.iloc[0:2]:
   A  B
0  1  a
1  2  b
c.df.loc[0:2]:
   A  B
0  1  a
1  2  b
2  3  c

In [10]:
%%timeit
c.df['B'].apply(lambda x: x.upper())

155 µs ± 2.13 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [11]:
%%timeit
c.df['B'].str.upper

1.55 µs ± 6.02 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [12]:
c.df['B'].apply(lambda x: x.upper())

0    A
1    B
2    C
Name: B, dtype: object

In [14]:
c.df['B'].str.upper()

0    A
1    B
2    C
Name: B, dtype: object